body {
	margin: 0px;
	padding: 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}
p {
	color: #777777;
}
h1, h2, h3, h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	color: #4aaaa5;h
}


#header {
	background-color: #ffffff;
	width: 960px;
	clear: both;
	overflow: auto;
	border-bottom: 2px;
	border-color: #cccccc;
	margin: auto;
}
	#name {
		background-color: #4aaaa5;
	    float: left;
	    padding: 40px;
	    color: #white;
	}
	#danielMuller {
		color: white;
		font-family: 'Georgia', Times, Times New Roman, serif;

	}
	#nav {
		background-color: fff;
		float: right;
		width: 150px;
		padding: 20px;
		display: inline;	
	}

#mainContent {
	background-color: #ffffff;
	background-image: url("../images/concrete-texture.png");
    background-repeat: repeat-x;
	overflow: auto;
	clear: both;
	width: 960px;
	border-color: #dddddd;
	margin: auto;
}
	#aboutMe {
		background-color: white;
		overflow: auto;
		width: 650px;
		float: left;
		margin: 10px;

	}
	#connect {
		background-color: white;
		overflow: auto;
		width: 270px;
		float: right;
		margin: 10px;
	}

	.smLogo {
		width: 50px;
		float: left;
		margin-right: 20px;
	}
#footer {
	background-color: #666666;
	clear: both;
	margin: auto;
	height: 50px;
}
#headshot {
	width: 200px;
	border: 1px solid #333;
	float: left;
	margin: 0 1em 1em 0;

}



